{% load i18n %}
{% blocktrans %}

Hello,

You're receiving this email because you have requested a password reset for your account at Eatio. Click the link below to reset your password.

Please note that this link will only work if you had signed up to Earthmiles using an email address and password and you forgot this password or a subsequently changed password. If you had signed up to Eatio via Facebook, and have forgotten your Facebook password, please reset your Facebook password at www.facebook.com and then log in to Facebook app on your phone and use the Login via Facebook option in Eatio post that.

http://{{ domain }}/web/password_reset/{{ uid }}-{{ temp_key }}

Once you have set your password, you can log in to the Earthmiles app on your phone using your email address and the password you set here. Please get in touch with us at admin@earthmiles.co.uk in case you face any difficulties.

This email can be safely ignored if you did not request a password reset.

Kind regards

The Eatio team

{% endblocktrans %}
