{% load i18n %}
{% blocktrans %}

Hi there!

Somebody recently asked to reset your Eatio account password.

<a href="http://{{ domain }}/web/password_reset/{{ uid }}-{{ temp_key }}" target="_blank">Click here</a> to reset your password.

If you did not request a new password, please let us know immediately at hello@eatio.co

Once you have set your password, you can log in to the Eatio app on your phone using your email address and the password you set here. Please get in touch with us at hello@eatio.co in case you face any difficulties.

See you soon on Eatio.

Eatio Care Team
{% endblocktrans %}
