{% extends "base_email.html" %}

{% block bodytext %}
    <h2 class="mc-toc-title">Thank you for signing up to Eatio!</h2>

    <p><span> <b>{{ user.first_name }}</b>, congratulations on deciding to give more love to yourself and to the earth!&nbsp; Earthmiles rewards you each time you walk, run or cycle.</span>
    </p>

    <h3 class="null">Easy Peasy</h3>

    <p><span>Simply link your&nbsp;Runkeeper, Strava and MapMyRun accounts to Earthmiles and automatically start racking up earthmiles every time you record an activity.</span>
    </p>

    <h3 class="null">Santa's on his way</h3>

    <p><span>If you've been good lately, check out&nbsp;the Rewards Center of the Earthmiles app for the&nbsp;amazing variety of health, wellness and green goodies in store for you.</span>
    </p>

    <h3 class="null">Exclusive rewards</h3>

    <p><span>Click on any reward to see all the&nbsp;details and how you can avail it. When you choose to purchase a reward with your earthmiles, you will receive&nbsp;a PDF coupon straight to your email to use when you want to (as long as its valid!)</span>
    </p>

    <h3 class="null">Watch this space</h3>

    <p><span>The Earthmiles roadmap goes a long way.&nbsp;Update with our new versions as they come out to have more options of&nbsp;&nbsp;tracking apps and&nbsp;earthmiles-earning activities.</span>
    </p>

    <h3 class="null">Partners Spotlight</h3>

    <p><span>Our generous partners team up with us to do some good. Find out more on our website. </span><br>

        The Eatio Crew</p>

{% endblock %}












