{% extends "base_email.html" %}

{% block bodytext %}
    <h2 class="mc-toc-title">Thank you for signing up to Eatio!</h2>

    <p><span>Eatio helps you find the best food of the moment at your nearby restaurants.</span>
    </p>

    <h3 class="null">Find the best food near you!</h3>

    <p><span>You no longer need rely on age old restaurant rating and reviews. Eatio will bring to you food reviews that are at the maximum, 3 hours old. Rely on real time food reviews to find the best food near you.</span>
    </p>

    <h3 class="null">Share your experience!</h3>

    <p><span>Tell the world your opinion about the food you are eating Had a great food? Write a sentence about it. Let the whole world know.</span>
    <br>

    Team Eatio</p>

{% endblock %}












